:root {
    --pfp-col: #ff6200;
}

/* ตั้งค่าพื้นฐาน */
body {
    font-family: 'Anakotmai', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.air {
    height: 56.6px;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: -webkit-fill-available;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-height: 30px;
    margin-right: 10px;
}

.logo a {
    font-size: 22px;
    color: var(--pfp-col);
}

nav {
    display: flex;
    align-items: center;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li {
    cursor: pointer;
}

.menu a {
    text-decoration: none;
    color: var(--pfp-col);
    padding: 10px 15px;
    transition: opacity .5s ease;
}

.menu a:hover {
    opacity: 0.7;
}

/* Hamburger Menu (ซ่อนตอนจอใหญ่) */
.hamburger {
    font-size: 22px;
    cursor: pointer;
    display: none;
    user-select: none;
}

/* Responsive สำหรับมือถือ */
@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        position: absolute;
        top: 54px;
        right: 0;
        background: white;
        width: 200px;
        height: 0;
        overflow: hidden;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        /* Animation */
        opacity: 0;
        transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    /* แสดงเมนู */
    .menu.show {
        height: calc(100vh - 54px);
        opacity: 1;
    }


    .menu li {
        margin: 0;
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    .hamburger {
        display: block;
    }
}


/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: white;
    margin-top: 20px;
}

.picture-banner{
    width: 100%;
    -webkit-user-drag: none;
    user-select: none;
}

#banner {
    width: 100%;
    transition: opacity .75s ease-in-out;
}
